<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <title>Signup</title>
</head>
<body>
<div class="col-sm-5">
    <div class="page-header">
        <h1>ユーザー登録画面</h1>
    </div>
    <form method="post" th:action="@{/signup}" th:object="${signupForm}">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="active">ユーザーID</th>
                <td>
                    <div class="form-group" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{userId}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">パスワード</th>
                <td>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{password}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">ユーザー名</th>
                <td>
                    <div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{userName}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">誕生日</th>
                <td>
                    <div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
                        <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday error</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">管理者</th>
                <td>
                    <div class="form-group">
                        <div th:each="item : ${radioAdmin}">
                            <input type="radio" name="radioAdmin" th:text="${item.key}" th:value="${item.value}"
                                   th:field="*{admin}"></input>
                            <span class="text-danger" th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}">admin error</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <ul>
            <li th:each="error : ${#fields.detailedErrors()}">
                <span th:text="${error.message}">Error message</span>
            </li>
        </ul>
        <button class="btn btn-primary" type="submit">ユーザー登録</button>
    </form>
</div>
</body>
</html>